
$primary-color:rgba(104, 205, 116, 1);
$left-edge-color:rgba(107, 2, 107, 0.5);
$left-edge-color-light:rgba(232, 12, 232, 0.9);
$right-edge-color:rgba(8, 255, 140, 0.3);
$lagos-color:rgba(62, 154, 212, .8);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-white: #fff;
$color-dark-grey: #666;
$color-footer-color: #333;
$color-light-grey-1: #f7f7f7;



// FONT
$default-font-size:1.6rem;


//GRID
$grid-width: 110rem;
$vertical-gutter: 8rem;
$horizontal-gutter:6rem;