.composition{
       position: relative;
       &__photo{
              width : 55%;
              border-radius: .4rem;
              position: absolute;
              z-index: 1;
              transition:  all .3s;
              outline-offset: 1.5rem;

              &-p1{
                     left: -2rem;
                     top: -4rem;
              }

              &-p2{
                     right: 0;
                     top: 8rem;
              }

              &-p3{
                     left:4rem;
                     top: 17rem;
              }

              &:hover{
                     transform: scale(1.1) translateY(-1rem);
                     box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
                     z-index: 2;
                     outline: 1rem solid $lagos-color;
              }
       }

       &:hover &__photo:not(:hover){
              transform: scale(.9);
       }
}