.center-text{
      text-align: center;
}

.margin-bottom-large { margin-bottom: 10rem;}
.margin-bottom-medium { margin-bottom: 5rem;}
.margin-bottom-small { margin-bottom: 2rem;}

.margin-top-large { margin-top: 10rem;}
.margin-top-medium { margin-top: 5rem;}
.margin-top-small { margin-top: 2rem;}

.margin-large{margin: 10rem 0;}
.margin-medium{margin: 5rem 0;}
.margin-small{margin: 2rem 0;}